.Link {
    color: var(--color-gray-900);
    text-decoration: none;
    align-self: center;
    /* flex: 0 0 auto; */
    border-bottom: 2px solid transparent;

    &:focus-visible {
        outline: 2px solid var(--color-primary);
        outline-offset: -2px;
        border-radius: var(--radius-sm);
    }

    &[data-disabled=true] {
        /* cursor: not-allowed; */
        cursor: default;
    }
}

@media (hover: hover) {
    .Link {
        &:hover {
            cursor: pointer !important;
            box-shadow: inset 0 -2px 0 0 var(--color-primary) !important;

            &[data-disabled=true] {
                box-shadow: inset 0 -2px 0 0 var(--color-gray-700) !important;
            }
        }
    }
}