.IconButton {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    outline: 0;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--color-canvas);
    color: var(--color-gray-900);
    user-select: none;

    @media (hover: hover) {
        &:hover {
            cursor: pointer;
        }
    }

    &:focus-visible {
        outline: 2px solid var(--color-primary);
        outline-offset: -1px;
    }
}

.Icon {
    width: 1.25rem;
    height: 1.25rem;
}

.Popup {
    box-sizing: border-box;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--color-surface);
    color: var(--color-gray-900);
    transform-origin: var(--transform-origin);
    transition:
        transform 150ms,
        opacity 150ms;

    &[data-starting-style],
    &[data-ending-style] {
        opacity: 0;
        transform: scale(0.9);
    }

    @media (prefers-color-scheme: light) {
        outline: 1px solid var(--color-gray-200);
        box-shadow:
            0 10px 15px -3px var(--color-gray-200),
            0 4px 6px -4px var(--color-gray-200);
    }

    @media (prefers-color-scheme: dark) {
        outline: 1px solid var(--color-gray-300);
        outline-offset: -1px;
    }
}

.Arrow {
    display: flex;

    &[data-side='top'] {
        bottom: -8px;
        rotate: 180deg;
    }

    &[data-side='bottom'] {
        top: -8px;
        rotate: 0deg;
    }

    &[data-side='left'] {
        right: -13px;
        rotate: 90deg;
    }

    &[data-side='right'] {
        left: -13px;
        rotate: -90deg;
    }
}

.ArrowFill {
    fill: var(--color-surface);
}

.ArrowOuterStroke {
    @media (prefers-color-scheme: light) {
        fill: var(--color-gray-200);
    }
}

.ArrowInnerStroke {
    @media (prefers-color-scheme: dark) {
        fill: var(--color-gray-300);
    }
}

.Title {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
}

.Description {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--color-gray-600);
}

.Actions {
    display: flex;
    justify-content: end;
    gap: 1rem;
}