.drawer {
    position: fixed;
    top: 0;
    left: -19rem;
    width: 90%;
    max-width: 17rem;
    height: 100%;
    background: var(--color-input);
    transition: left 0.3s ease;
    z-index: 99000;
    padding: 1rem;
    display: flex;
}

.drawer.open {
    left: 0;
}

.close {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: var(--color-text);
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-shadow);
    z-index: 91000;
}